form{
    background-color: rgb(255, 188, 247);
}
body{
    padding-top: 20px;
    background-color:rgb(242, 219, 219)
}
legend{
    font-size: 30pt;
}

p{
    font-size: 20pt;
}

#username , #password{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 35px;
} 

#button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    width: 5%;
    margin-top: 2%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 35px;
}